* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto";
}
/* navar css start */
#navbar {
  width: 20%;
  height: 100vh;
  background-color: rgb(189, 93, 56);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.hamburger {
  display: none;
}
#navbar .navbar_img img {
  display: flex;
  width: 80%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  border: 8px solid rgb(202, 125, 96);
  border-radius: 50%;
}
#navbar ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#navbar ul li :hover {
  color: rgb(238, 230, 230);
  transition: 0.5s;
}
#navbar ul li a {
  color: rgb(225, 182, 165);
  font-size: 17px;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  padding-bottom: 15px;
}

/* navbar css end */

/*main css start */
main {
  width: 80%;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
}
/* main css end */

/* section_about css start */
#section_about {
  min-height: 100vh;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 45px;
}
.section_about_content {
  width: 100%;
}
.section_about_content h1 {
  color: rgb(52, 58, 64);
  font-size: 70px;
  padding-bottom: 8px;
  font-weight: 700;
}
.section_about_content h1::after {
  content: "  KÜBRA";
  color: rgb(189, 93, 56);
}
.section_about_content .adress {
  font-size: 28px;
  color: rgb(46%, 52%, 54%);
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 500;
  padding-bottom: 45px;
}
.section_about_content span a {
  color: rgb(189, 93, 56);
}
.section_about_content p.about {
  color: rgb(108, 117, 150);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.section_about_icon {
  display: flex;
  gap: 25px;
}
.section_about_icon .icon {
  width: 60px;
  height: 60px;
  background-color: rgb(73, 80, 87);
  display: inline-block;
  border-radius: 50%;
  margin: auto;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_about_icon .icon a {
  color: white;
}
.section_about_icon .icon:hover {
  background-color: rgb(189, 93, 56);
}
/* section_about css end */

/* section_experience css start */
#section_experience {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 45px;
}
#section_experience h2 {
  font-size: 35px;
  padding-bottom: 50px;
  color: rgb(52, 58, 64);
}
#section_experience .section_experience_skill {
  color: rgb(52, 58, 64);
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}
#section_experience > p {
  width: 70%;
  color: rgb(108, 121, 133);
  padding-left: 40px;
}
.angle_right {
  display: flex;
  flex-direction: row;
}
.angle_right i {
  font-size: 30px;
  margin-right: 20px;
}
/* section_experience css end */

/* section_education css start */
#section_education {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 60px 45px;
  justify-content: center;
}
.section_education_content {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  margin-top: 60px;
}
.section_education_content p {
  color: rgb(108, 121, 133);
  padding-left: 40px;
}
.section_education_header {
  font-size: 35px;
  color: rgb(52, 58, 64);
  margin-top: 40px;
}
.section_education_name {
  font-size: 25px;
  color: rgb(52, 58, 64);
  padding-bottom: 10px;
  font-weight: 500;
}
#section_education h3 {
  color: rgb(122, 130, 137);
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 30px;
  padding-left: 40px;
}
.section_education_profession {
  padding-bottom: 20px;
  color: rgb(108, 121, 133);
}
.history {
  margin-left: auto;

  color: rgb(189, 93, 56);
}
.history p {
  color: rgb(189, 93, 56);
}
/* section_education css end */

/* section_skills css start */
#section_skills {
  z-index: -1;
  padding: 60px 45px;
}
.section_skills_header {
  font-size: 35px;
  padding-bottom: 50px;
  color: rgb(52, 58, 64);
}
#section_skills h3 {
  color: rgb(122, 130, 137);
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 30px;
}
.section_skills_icons {
  font-size: 50px;
  color: rgb(108, 117, 125);
}
.section_skills_icons i {
  padding-right: 10px;
}
.skills {
  width: 70%;
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}
.skills_percent {
  width: 100%;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.06);
}
.skills .tip {
  color: #222;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
}
.skills_percent .fill {
  height: 100%;
  background-color: #222;
  padding-left: 30px;
}
.fill_html {
  width: 100%;
}
.fill_css {
  width: 80%;
}
.fill_js {
  width: 60%;
}
.fill_py {
  width: 70%;
}
.fill_react {
  width: 50%;
}
.fill_wp {
  width: 55%;
}
/* section_skills css end */

/* section_interests css start */
#section_interests {
  width: 70%;
  height: 600px;
  padding: 60px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_interests_header {
  font-size: 35px;
  padding-bottom: 50px;
  color: rgb(52, 58, 64);
}
.section_interests_content {
  color: rgb(108, 121, 133);
  font-size: 20px;
}
/* section_interests css end*/
.activee {
  color: rgb(255, 255, 255) !important;
}
@media only screen and (max-width: 1000px) {
  .navbar_img {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    width: 53px;
    height: 36px;
    margin-right: 50px;
    border-radius: 5px;
    border: 0.5px solid #c5c5c5;
    position: absolute;
    right: 0;
    top: 10px;
  }
  .hamburger:hover {
    outline: 5px solid rgb(225, 182, 165);
  }
  .hamburger .line {
    width: 25px;
    height: 2px;
    background-color: rgb(179, 168, 168);
    margin: auto;
    margin-top: 7px;
  }
  #navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(189, 93, 56);
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #navbar::after {
    content: "Cəfərzadə Kübra";
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 23px;
    position: absolute;
    top: 15px;
    left: 20px;
  }
  #navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    margin-top: 60px;
    opacity: 0;
  }
  #navbar.active {
    height: 260px;
  }
  #navbar.active ul {
    transition: 2s;
    opacity: 1;
  }
  main {
    width: 100%;
  }
  .section_about_content h1 {
    font-size: 40px;
    transition: 2s ease-in-out;
  }
  .section_education_content {
    flex-direction: column;
  }
  .history {
    margin: 0;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .section_about_icon .icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .skills {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  section {
    box-sizing: content-box;
  }
  .section_skills_icons .skills {
    width: 100%;
  }
  section > h2 {
    font-size: 30px !important;
  }
  section > p {
    box-sizing: content-box;
  }
  #section_interests {
    height: 450px;
  }
  .skills {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 30px;
    z-index: -1;
  }
  .tip {
    top: 30px !important;
  }
}
